<section>

    <h1>Información sobre la autora</h1>
    <p>Dale click a "Home" para volver a la página principal</p>
    <h2>Ana Clara Pérez Acosta</h2>

    <p>Mi alma animal</p>
    <p><img src="/images/foto.jpg"/></p>
    <p>Estudiante de Ingeniería de Telecomunicaciones en la UPM</p>

</section>