<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/author">Autor</a>  
        </nav>
    </header>
    
    <section><%- body %></section>
    
   
    <footer>Designed by: Ana Clara Pérez</footer>
  </body>
</html>